.portalpage-wrap {

    min-width: 1200px;

    .portalpage-head {
        position: fixed;
        top: 0;
        z-index: 99;
        height: 60px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0 3px 6px 1px rgba(17, 15, 15, .06);
        min-width: 1200px;

        .head-content {
            display: flex;
            justify-content: space-between;

            .head-img {
                width: 30%;
                text-align: center;

                img {
                    height: 60px;
                    // padding: 10px;
                }
            }

            .head-nav {
                width: 80%;
                display: flex;
                align-items: center;
                gap: 6%;
                font-size: 16px;

                .solution {
                    position: relative;

                    .solution-detail {


                        position: absolute;
                        width: 150px;
                        height: 0;
                        overflow: hidden;
                        background-color: #ffffff;
                        font-size: 14px;
                        left: -26px;
                        transition: all 0.5s;

                        .solution-detail-item {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            padding: 20px;
                        }
                    }

                    &:hover {
                        .solution-detail {
                            height: 190px;

                        }
                    }
                }

                div {
                    cursor: pointer;
                    min-width: 100px;

                    &:hover {
                        color: #2367e4;
                    }
                }

                .solution {
                    .solution-anticon-down {
                        // margin-left: -40px;
                        // transform: rotate(-90deg);
                        // background-color: red;
                        // color: aquamarine;
                    }

                    :global {
                        .anticon-down {
                            // background-color: red;
                            // color: aquamarine;
                        }
                    }

                    &:hover {
                        .solution-anticon-down {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }


    }

    .portalpage-allContent {
        margin-top: 60px;
    }

    :global {
        .anticon-vertical-align-top {
            background: #8c8c8c;
            border-radius: 50%;
            line-height: 45px;
            font-size: 22px;
            color: #FFFFFF;
            width: 40px;
            height: 40px;
            cursor: pointer;
            padding-left: 9px;

            &:hover {
                background-color: #262626;
            }
        }
    }

}

:global {
    .font-style {
        line-height: 42px;
        font-size: 16px;
    }

    .padding-50 {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
    }
}